.Movie_bars {
    width: 100%;
    height: 105px;
    background: #1c1c1c;
    position: relative;
    padding: 25px 20px 0px 20px;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
    font-size: 22px;
}
  
.Movie_bars_content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}
  
.Movie_bars_content_col {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px 20px 0 0;
  }
  
.Movie_bars_info {
    padding: 5px 0 0 10px;
    float: left;
  }
  
.fa_time, .fa_revenue {
    float: left;
    margin-top: -4px;
}
  
.fa_budget {
    float: left;
    margin-top: -3px;
}