.Loader_btn {
    background: #16d47b;
    width: 100%;
    min-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
  
.Loader_btn p {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding: 20px;
}
  
.Loader_btn:hover {
    opacity: 0.8;
}